* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background:#eff3fe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background:#ffffff;
  width: 362px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  
}

.todo-container h2 {
  color: #4f46e5;
  margin-bottom: 10px;
}

.todo-container h2 span {
  font-weight: normal;
  font-size: 18px;
}

.todo-container p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
 
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-box input {
  padding: 14px;
  border-radius: 14px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.add-btn {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  background: linear-gradient(135deg, #7b2ff7, #9f5cff);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.input-box button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.input-box button:hover {
  background: #4338ca;
}

ul {
  list-style: none;
  margin-top: 20px;
}

ul li {
  background: #f3f4f6;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li span {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.actions button {
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}

.edit { background: #7c3aed; }
.save { background: #22c55e; }
.delete { background: #ef4444; }
